/* quicksand-300 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/quicksand-v22-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v22-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v22-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v22-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v22-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v22-latin-300.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v22-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v22-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v22-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v22-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v22-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v22-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/quicksand-v22-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v22-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v22-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v22-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v22-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v22-latin-700.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/quicksand-v22-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v22-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v22-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v22-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v22-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v22-latin-600.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/open-sans-v18-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/open-sans-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v18-latin-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v18-latin-600.svg#OpenSans') format('svg');
    /* Legacy iOS */
}

html {
    font-size: 16px;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-style: normal;
    font-weight: 400;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    min-height: 80px;
    padding-top: 10px;
}

.header-content {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
}

.header-content, .header-content>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 26px;
    height: 26px;
    background: #5E81FE;
    border-radius: 100%;
}

.logo>a {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    position: relative;
}

.menu-adaptive {
    width: 30px;
    height: 30px;
    background-image: url(../../images/landing_page/Image20210303163726.png);
    background-size: 30px;
    display: none;
}

#menu-adaptive {
    display: none;
}

.menu {
    position: relative;
}

.menu>li {
    display: inline-block;
    margin-left: 42px;
}

.menu>li>a {
    color: #5E81FE;
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}

.social-media>a {
    margin-right: 37px;
}

.started {
    color: #5E81FE;
    background-color: #D2E1FF;
    border: #D2E1FF;
    padding: 13px 16px;
    border-radius: 2px;
    font-size: 13px;
}

@media screen and (max-width: 940px) {
    .social-media>a {
        margin-right: 10px;
    }
    .menu>li {
        margin-left: 10px;
    }
}

@media screen and (max-width: 650px) {
    .header-content, .header-content>div {
        align-items: flex-start;
    }
    .logo {
        display: none;
    }
    .menu-sm {
        display: none;
    }
    .menu-adaptive {
        display: block;
    }
    #menu-adaptive:checked+.menu-sm {
        display: block;
    }
    .menu>li {
        display: block;
        margin-left: 3px;
    }
}

@media screen and (max-width: 400px) {
    .header-content {
        width: 100%;
    }
    .social-media>a {
        margin-right: 3px;
    }
}

.modal-form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(128, 128, 128, 0.514);
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-none {
    display: none;
}

.form-login {
    position: relative;
    display: flex;
    width: 400px;
    height: 200px;
    background-color: green;
    border-radius: 6px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: yellowgreen;
    animation: anim-form .2s 1;
}

@keyframes anim-form {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
}

.form-login__body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-gap: 10px;
}

.form-login__input {
    background: transparent;
    border: none;
    color: yellowgreen;
    text-align: center;
}

.form-login__input::placeholder {
    color: white;
}

.close-form {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: red;
}

.close-form:hover {
    color: rgba(255, 0, 0, 0.603);
}

.send {
    color: rgb(20, 110, 20);
    background-color: yellowgreen;
    width: 100px;
    height: 30px;
    border: rgb(22, 82, 22);
    border-radius: 4px;
}

.send:hover {
    color: rgb(22, 82, 22);
    background-color: rgb(112, 148, 40);
}

.visual-section {
    height: 500px;
    background-size: 100% auto;
    background-position: center;
    background-attachment: fixed;
}

.visual-section-1 {
    background-image: url('../../images/second_picture.jpg');
}

.visual-section-2 {
    background-image: url('../../images/animfon_1024_500_jpg_0_100.jpg');
}

.get-started-wrap {
    min-height: 447px;
    display: flex;
    background-image: url(../../images/get_started/background_1.png), url(../../images/get_started/background_2.png), linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    background-repeat: no-repeat;
    background-position: left center, right bottom, center;
    justify-content: center;
    /*По горизонтали*/
    align-items: center;
    /*По вертикали*/
}

.get-started {
    text-align: center;
    width: 712px;
}

.get-started a {
    color: #FFFFFF;
}

.get-started>h6 {
    margin-bottom: 24px;
}

.get-started>h6>a {
    font-family: 'Roboto';
    font-weight: 500;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.get-started__h {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 0;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 30px;
}

.get-started__text {
    margin-bottom: 65px;
}

.get-started__text>a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
}

.get-started__buttons {
    margin-bottom: 30px;
}

.get-started__buttons>a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    border: 1px solid #A0B4FF;
    border-radius: 2px;
    color: #C7D3FF;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.get-started__buttons-view {
    padding: 13px 17px;
}

.get-started__buttons-read {
    padding: 13px 9px;
}

.get-started__buttons>a:hover {
    color: #565F82;
    background: #FFFFFF;
}

.about-wrap {
    min-height: 447px;
    padding-top: 92px;
    background-image: url(../../images/landing_page/clouds/clouds.png), url(../../images/landing_page/clouds/Group\ 75\ \(1.png);
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-position: left center, right top;
}

.about {
    width: 761px;
    margin: 0 auto;
    text-align: center;
}

.about-us {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.about__h3 {
    margin-bottom: 92px;
}

.about__h3>a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
}

.about__slides {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 67px;
}

.about__img {
    margin-bottom: 33px;
}

.about__h5 {
    margin-bottom: 25px;
}

.about__h5>a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #4074F8;
}

.about__text {
    margin-bottom: 110px;
}

.about__text>a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
}

.about-buttons {
    margin-bottom: 171px;
}

.about-buttons>a {
    border-radius: 2px;
    padding: 13px 16px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
}

.read-more {
    color: #D43F3F;
    background: #FFD7D7;
    padding: 13px 16px;
    border-radius: 2px;
}

.get-start {
    color: #3A79FF;
    background: #D2E1FF;
    border-radius: 2px;
    padding: 13px 16px;
}

.or {
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    text-align: center;
    color: #ADB3CB;
    margin-left: 63px;
    margin-right: 63px;
}

.or::before, .or::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 1px;
    background: #DAE4FE;
}

.or::before {
    left: 20px;
    top: 8px;
}

.or::after {
    left: -20px;
    top: 8px;
}

@media screen and (max-width: 770px) {
    .about {
        width: 100%;
    }
    .about__slides {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
}

@media screen and (max-width: 720px) {
    .get-started {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .about__slides {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, auto);
    }
}

@media screen and (max-width: 380px) {
    .or {
        margin: 0;
    }
    .or::before, .or::after {
        width: 0;
        height: 0;
    }
}

.slider {
    width: 700px;
    height: 300px;
    margin: 100px auto;
}

.slider, .slides {
    position: relative;
}

.slides {
    padding: 0;
}

.slides, .slide, .slide>a {
    width: 100%;
    height: 100%;
}

.slide {
    position: absolute;
    opacity: 0;
    z-index: 1;
    background-size: 700px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

.slide>a {
    display: block;
}

.slide:nth-of-type(1) {
    background-image: url('../../images/slider_images/depositphotos_188003464-stock-photo-bangkok.jpg');
}

.slide:nth-of-type(2) {
    background-image: url('../../images/slider_images/second.jpg');
}

.slide:nth-of-type(3) {
    background-image: url('../../images/slider_images/third.jpg');
}

.slide:nth-of-type(4) {
    background-image: url('../../images/slider_images/fourth.jpg');
}

.slide:nth-of-type(5) {
    background-image: url('../../images/slider_images/fifth.jpg');
}

.showing {
    opacity: 1;
    z-index: 2;
    transition: 1s;
}

.toggle-arrow {
    position: absolute;
    top: 40%;
    z-index: 3;
    font-size: 2rem;
    color: white;
    width: 50px;
    height: 50px;
    background: #6888FF;
    border-radius: 50px;
    padding-bottom: 5px;
    cursor: pointer;
}

.arrow-prev {
    left: 5px;
}

.arrow-next {
    right: 10px;
}

.toggle-radio {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.slides-mini {
    position: absolute;
    bottom: -100px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.slide-mini {
    font-size: 0;
}

.slide-mini>img {
    width: 100%;
    height: 75px;
}

.showing-mini {
    box-shadow: 0 0 5px 5px rgb(255, 208, 0);
}

.hh {
    width: 600px;
    height: 300px;
    display: block;
}

@media screen and (max-width: 768px) {
    .slider {
        width: 400px;
        height: 200px;
    }
    .slide {
        background-size: 100% 100%;
    }
    .slide-mini, .slide-mini>img {
        width: 80px;
        height: 45px;
    }
    .slides-mini {
        left: -20px;
    }
}

@media screen and (max-width: 540px) {
    .slider {
        width: 300px;
        height: 150px;
    }
    .slide {
        background-size: 100% 100%;
    }
    .slide-mini, .slide-mini>img {
        width: 60px;
        height: 35px;
    }
    .slides-mini {
        left: -7px;
    }
}

@media screen and (max-width: 370px) {
    .slider {
        width: 250px;
        height: 125px;
    }
    .slide {
        background-size: 100% 100%;
    }
    .slide-mini, .slide-mini>img {
        width: 50px;
        height: 30px;
    }
    .slides-mini {
        left: -20px;
    }
}